body {
    background: darkolivegreen;
}

.sidebar {
    display: grid;
    gap: 0.5rem;
}

.content {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    max-width: 700px;
    width: 100%;
}