body {
    background: black;
    color: white;
}

.row {
    align-items: start;
}

.sidebar {
    display: grid;
    gap: 0.5rem;
}

.content {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    max-width: 700px;
    width: 100%;
}